[Unit]
Description=CKAN uWSGI application
After=network-online.target
Wants=network-online.target

[Service]
User=ckan
ExecStart=/usr/lib/ckan/default/bin/uwsgi -i /etc/ckan/default/ckan-uwsgi.ini
Restart=on-failure
StandardOutput=append:/var/log/ckan/ckan-out.log
StandardError=append:/var/log/ckan/ckan-err.log
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
