[Unit]
Description=CKAN Harvest Fetch worker
After=network-online.target
Wants=network-online.target

[Service]
User=ckan
ExecStart=/usr/lib/ckan/default/bin/ckan_cli harvester fetch_consumer
Restart=on-failure
StandardOutput=append:/var/log/ckan/ckan-harvest-fetch.log
StandardError=append:/var/log/ckan/ckan-harvest-fetch.log

[Install]
WantedBy=multi-user.target
