[Unit]
Description=Default CKAN job worker
After=network-online.target
Wants=network-online.target

[Service]
User=ckan
ExecStart=/usr/lib/ckan/default/bin/ckan_cli jobs worker
Restart=on-failure
StandardOutput=append:/var/log/ckan/ckan-worker.log
StandardError=append:/var/log/ckan/ckan-worker.log

[Install]
WantedBy=multi-user.target
