[Unit]
Description=Apache Solr
After=network-online.target
Wants=network-online.target

[Service]
User=solr
ExecStart=/opt/solr/bin/solr start -f
Restart=on-failure
StandardOutput=/var/log/solr/solr.log
StandardError=/var/log/solr/stderr.log

[Install]
WantedBy=multi-user.target
